@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Krona+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

:root {
    --tipo-de-fonte-meu-nome: 'Akronim', cursive;
    --tipo-de-fonte-header: 'Krona One', sans-serif;
    /*  --tipo-de-fonte-menu: 'Roboto Mono', monospace; */
    --tipo-de-fonte-texto: 'Montserrat', sans-serif;

    --cor-fonte: #fff;
    --cor-fonte-secundaria: #400191;
    --cor-fonte-terciaria: #929EB0;
    --cor-background: black;
    --cor-background-hover: #400191;

    --borda-botoes: 3px #c9aaf4 solid;
    --botoes-hover: 4px #400191 solid;
    --borda-botoes-mobile: 3px #400191 solid;
    ;
}

body {
    background-color: var(--cor-background);
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--cor-background);
    /*  border: 1px solid red; */

}

.cabecalho__titulo h1 {
    font-family: var(--tipo-de-fonte-meu-nome);
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--cor-fonte);
    letter-spacing: .2rem;
}

/* header h1::before {
    font-family: var(--tipo-de-fonte-header);
    font-size: 1em;
    content: "{ ";
}

header h1::after {
    font-family: var(--tipo-de-fonte-header);
    font-size: 1em;
    content: " }";
} */

/* .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
} */



.cabecalho__menu {
    font-family: var(--tipo-de-fonte-header);
    font-weight: 400;
    font-size: 1rem;

}

.cabecalho__menu__link {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-transform: uppercase;
    text-decoration: solid;
    margin: 0 8px;
}

.cabecalho__menu__link_itens {
    list-style-type: none;
}

.cabecalho__menu__link_itens a {
    text-decoration: none;
    color: var(--cor-fonte);
    transition: 0.8s;
}

.cabecalho__menu__link_itens a:hover {
    color: var(--cor-background-hover);

}

@media (max-width: 500px) {
    .cabecalho {
        justify-content: center;
    }

    .cabecalho__menu__link {
        margin: 1em 0;
        gap: .7em;
        font-size: .7rem;
    }



}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--cor-fonte);
    font-family: var(--tipo-de-fonte-texto);
    padding: 5%;
    margin-top: 6.5%;
    height: 100vh;

}

.container__conteudo {
    width: 50%;

}

.container__conteudo h1 {
    font-weight: 800;
    font-size: 2em;
}

.container__conteudo h2 {
    font-weight: 700;
    font-size: 2.5em;

}

.container__conteudo h3 {
    text-align: justify;
    font-weight: 200;
    font-size: 1em;

}

.container__imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__imagem img {
    width: 80%;
}


.container__conteudo__nome__destaque {
    color: var(--cor-fonte-secundaria);
}

.container__conteudo__icones {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;

}

.container__conteudo__icones a {
    text-align: center;
    width: 5rem;
    padding: 8px;
    border: var(--borda-botoes);
    border-radius: 5rem;
    transition: 1s;
}

.container__conteudo__icones a:hover {
    border: 4px #400191 solid;
    background: var(--cor-background-hover);

}

.container__conteudo__icones img {
    width: 1.5rem;

}

@media (max-width: 1200px) {
    .container__imagem {
        display: none;
    }

    .container__conteudo {
        width: 100%;

    }

    .container__conteudo__icones {
        justify-content: center;

    }

    .container__conteudo__icones a {
        border: var(--borda-botoes-mobile);
    }

}

.container__sobre__mim {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 2rem;
    height: 100vh;


}

.img-perfil {
    max-width: 400px;
    padding: 16px;
}

.container__sobre__mim__conteudo {
    font-family: var(--tipo-de-fonte-texto);
    color: var(--cor-fonte);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.container__sobre__mim__conteudo h2 {
    font-family: var(--tipo-de-fonte-texto);
    font-weight: 800;
    font-size: 2rem;
}

.container__sobre__mim__conteudo p {
    font-family: var(--tipo-de-fonte-texto);
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;

}



.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

.botao input {
    font-family: var(--tipo-de-fonte-header);
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--cor-background);
    color: var(--cor-fonte);
    border: var(--borda-botoes);
    border-radius: 1rem;
    width: 12rem;
    padding: 16px;
    transition: 1s;
}

.botao input:hover {
    border: var(--botoes-hover);
    background: var(--cor-background-hover);
}

@media (max-width: 1200px) {
    .container__sobre__mim {
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 16px;
        height: auto;
    }

    .container__sobre__mim__conteudo {
        width: auto;
    }

    .container__sobre__mim__imagem img {
        width: 100%;

    }

    .conteudo-sobre {
        display: flex;
        flex-direction: column;
        width: 90%;
        font-size: 1em;
        padding: 1rem;
        margin: auto;
        text-align: center;
    }

    .conteudo-sobre h1,
    span,
    p {
        margin-top: 1rem;
    }

    .botao {
        flex-direction: column;
        gap: 8px;
    }

    .botao input {
        font-size: 16px;
        border: var(--borda-botoes-mobile);
        width: 100%;

    }

}

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 5rem;
}

.projeto__titulo__principal {
    font-family: var(--tipo-de-fonte-texto);
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-fonte);
    text-align: center;
}

.container__projeto__banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 16px;
}

.container__projeto__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    font-family: var(--tipo-de-fonte-texto);
    border: 2px solid var(--cor-fonte-secundaria);
    border-radius: 16px;
}

.container__projeto__conteudo img {
    width: 332px;
    height: 176px;

}

.container__projeto__conteudo__texto {
    width: 332px;
    height: 172px;
    color: var(--cor-fonte);
}

.container__projeto__conteudo__texto p {
    font-weight: 300;
    font-size: .8rem;
    color: var(--cor-fonte-terciaria);
    padding: 8px 0;
}

.container__projeto__conteudo__texto__tecnologias {
    display: flex;
    gap: 8px;
}

.container__projeto__conteudo__texto__tecnologias p {
    font-weight: 600;
}

.container__projeto__conteudo__botoes {
    display: flex;
    gap: 16px;
}

.botao-informativo {
    text-align: center;
    background: none;
    font-family: var(--tipo-de-fonte-texto);
    font-size: 16px;
    font-weight: 700;
    border: var(--borda-botoes);
    width: 150px;
    padding: 0.5rem;
    border-radius: 1em;
    transition: 1s;
    text-decoration: none;
    color: var(--cor-fonte);
}

.botao-informativo:hover {
    border: var(--botoes-hover);
    background: var(--cor-background-hover);
}

@media (max-width: 1200px) {
    .container__projeto__banner {
        flex-wrap: wrap;
    }

    .container__projeto__conteudo {
        width: 100%;
        padding: 5%;
        gap: 8px;
    }

    .container__projeto__conteudo img {
        width: 100%;
    }

    .container__projeto__conteudo__texto {
        padding: 1rem;
    }

    .container__projeto__conteudo__texto {
        height: auto;
    }

}

.container__soft__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    height: 100vh;
}

.container__soft__skills h1 {
    font-family: var(--tipo-de-fonte-texto);
    font-weight: 700;
    font-size: 2em;
    color: var(--cor-fonte);
    text-align: center;
    margin-bottom: 8px;
}

.container__soft__skills p {
    font-family: var(--tipo-de-fonte-texto);
    color: var(--cor-fonte);
    text-align: center;
    font-size: 1em;
    font-weight: 200;
}

.container__soft__skills__icones {
    font-family: var(--tipo-de-fonte-texto);
    font-weight: 200;
    font-size: 1rem;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.container__icones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-fonte);
    border-radius: 8px;
    border: 2px solid;
    padding: 1rem;
}

.container__icones img {
    width: 4rem;
}

@media (max-width: 1200px) {
    .container__soft__skills {
        height: auto;
    }
}

footer {
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    position: relative;
    padding: 5% 5%;
}

.rodape {
    padding: 16px;
}