* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

:root {
    --tipo-de-fonte-header: 'Source Code Pro', monoespaçado;
    --tipo-de-fonte-menu: 'Roboto Mono', monospace;
    --tipo-de-fonte-texto: 'Open Sans', sans-serif;

    --cor-fonte: #fff;
    --cor-fonte-secundaria: #400191;
    --cor-fonte-terciaria: #929EB0;
    --cor-background: black;
    --cor-background-hover: #400191;

    --borda-botoes: 3px #c9aaf4 solid;
    --botoes-hover: 4px #400191 solid;
    --borda-botoes-mobile: 3px #400191 solid;
    ;
}

body {
    background-color: var(--cor-background);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}


header {
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--cor-background);
}

header h1 {
    font-family: var(--tipo-de-fonte-header);
    font-size: 1.5em;
    font-weight: 700;
    color: var(--cor-fonte);
}

header h1::before {
    font-size: 1.2em;
    content: "{ ";
}

header h1::after {
    font-size: 1.2em;
    content: " }";
}

.cabecalho__menu {
    font-family: var(--tipo-de-fonte-menu);
    font-weight: 800;
    font-size: 1em;

}

.cabecalho__menu__link {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: solid;
    gap: 3rem;
}

.cabecalho__menu__link_itens {
    list-style-type: none;
}

.cabecalho__menu__link_itens a {
    text-decoration: none;
    color: var(--cor-fonte);
    transition: 0.8s;
}

.cabecalho__menu__link_itens a:hover {
    color: var(--cor-background-hover);

}

@media (max-width: 1200px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
    }

    .cabecalho__menu__link {
        margin: 1em 0;
        gap: 1.5em;
        font-size: 0.6em;
    }

    .cabecalho::before {
        width: 90%;
    }

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--cor-fonte);
    font-family: var(--tipo-de-fonte-texto);
    padding: 5%;
}

.container__conteudo {
    width: 50%;
}

.container__conteudo h1 {
    font-weight: 800;
    font-size: 2em;
}

.container__conteudo h2 {
    font-weight: 700;
    font-size: 3em;

}

.container__conteudo h3 {
    font-weight: 300;
    font-size: 1em;

}

.container__imagem {
    width: 40%;
}


.container__conteudo__nome__destaque {
    color: var(--cor-fonte-secundaria);
}

.container__conteudo__icones {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;

}

.container__conteudo__icones a {
    text-align: center;
    width: 5rem;
    padding: 8px;
    border: var(--borda-botoes);
    border-radius: 5rem;
    transition: 1s;
}

.container__conteudo__icones a:hover {
    border: 4px #400191 solid;
    background: var(--cor-background-hover);

}

.container__conteudo__icones img {
    width: 1.5rem;

}

@media (max-width: 1200px) {
    .container__imagem {
        display: none;
    }

    .container__conteudo {
        width: auto;
    }

    .container__conteudo__icones {
        justify-content: center;

    }

    .container__conteudo__icones a {
        border: var(--borda-botoes-mobile);
    }

}

.container__sobre__mim {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.img-perfil {
    max-width: 400px;
    padding: 16px;
}

.container__sobre__mim__conteudo {
    font-family: var(--tipo-de-fonte-texto);
    color: var(--cor-fonte);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.container__sobre__mim__conteudo p {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;

}

.container__sobre__mim__conteudo h2 {
    font-size: 2rem;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
    gap: 2rem;
}

.botao input {
    font-family: var(--tipo-de-fonte-texto);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--cor-background);
    color: var(--cor-fonte);
    border: var(--borda-botoes);
    border-radius: 1rem;
    width: 9rem;
    padding: 16px;
    transition: 1s;
}

.botao input:hover {
    border: var(--botoes-hover);
    background: var(--cor-background-hover);
}

@media (max-width: 1200px) {
    .container__sobre__mim {
        display: flex;
        flex-direction: column;
        width: auto;
        gap: 16px;
    }

    .container__sobre__mim__conteudo {
        width: auto;
    }

    .container__sobre__mim__imagem img {
        width: 100%;

    }

    .conteudo-sobre {
        display: flex;
        flex-direction: column;
        width: 90%;
        font-size: 1em;
        padding: 1rem;
        margin: auto;
        text-align: center;
    }

    .conteudo-sobre h1,
    span,
    p {
        margin-top: 1rem;
    }

    .botao {
        flex-direction: column;
        gap: 8px;
    }

    .botao input {
        font-size: 16px;
        border: var(--borda-botoes-mobile);
        width: 100%;

    }

}

.projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 4.5rem;
}

.projeto__titulo__principal {
    font-family: var(--tipo-de-fonte-texto);
    font-size: 2em;
    font-weight: 700;
    color: var(--cor-fonte);
    text-align: center;
}

.container__projeto__banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 16px;

}

.container__projeto__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    font-family: var(--tipo-de-fonte-texto);
    border: 2px solid var(--cor-fonte-secundaria);
    border-radius: 16px;
}

.container__projeto__conteudo img {
    width: 332px;
    height: 176px;
}

.container__projeto__conteudo__texto {
    width: 332px;
    height: 172px;
    color: var(--cor-fonte);
}

.container__projeto__conteudo__texto p {
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-fonte-terciaria);
    padding: 8px 0;
}

.container__projeto__conteudo__texto__tecnologias {
    display: flex;
    gap: 8px;
}

.container__projeto__conteudo__texto__tecnologias p {
    font-weight: 600;
}

.container__projeto__conteudo__botoes {
    display: flex;
    gap: 16px;
}

.botao-informativo {
    text-align: center;
    background: none;
    font-family: var(--tipo-de-fonte-texto);
    font-size: 16px;
    font-weight: 800;
    border: var(--borda-botoes);
    width: 150px;
    padding: 0.5rem;
    border-radius: 1em;
    transition: 1s;
    text-decoration: none;
    color: var(--cor-fonte);
}

.botao-informativo:hover {
    border: var(--botoes-hover);
    background: var(--cor-background-hover);
}

@media (max-width: 1200px) {
    .container__projeto__banner {
        flex-wrap: wrap;
    }

    .container__projeto__conteudo {
        width: 100%;
        padding: 5%;
        gap: 8px;
    }

    .container__projeto__conteudo img {
        width: 100%;
    }

    .container__projeto__conteudo__texto {
        padding: 1rem;
    }

    .container__projeto__conteudo__texto {
        height: auto;
    }

}

.container__soft__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__soft__skills h1 {
    font-family: var(--tipo-de-fonte-texto);
    font-weight: 400;
    font-size: 2em;
    color: var(--cor-fonte);
    text-align: center;
    margin-bottom: 8px;
}

.container__soft__skills p {
    font-family: var(--tipo-de-fonte-texto);
    color: var(--cor-fonte);
    text-align: center;
    font-size: 1em;
    font-weight: 200;
}

.container__soft__skills__icones {
    font-family: var(--tipo-de-fonte-texto);
    font-weight: 200;
    font-size: 1rem;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.container__icones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-fonte);
    border-radius: 8px;
    border: 2px solid;
    padding: 1rem;
}

.container__icones img {
    width: 4rem;
}

footer {
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    position: relative;
    padding: 5% 5%;
}
.rodape{
    padding: 16px;
}